<!DOCTYPE html>
<html ng-app="StartUp">
    <head>
        <title>Intro AngularJS</title>
        <link rel="stylesheet" href="main.css" type="text/css" />
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
      
    </head>
    <body ng-controller="potatoTroller">
        
        <!--<h1>This is my site {{greeting}} there</h1>-->
        <!--<img src="{{sombrero}}">-->
        
        <input type="text" ng-model="unicorn"/>
        <button ng-click="showUnicorn()">Show me da unicorn</button>
        <h3>{{unicorn}}</h3>
<!--        <button ng-click="buttonTime()">Click me</button>-->
<!--        <p ng-class="{'fancy-text' : makeItFancy}">Cheese slices babybel macaroni cheese. Cut the cheese cottage cheese caerphilly paneer halloumi cheesecake say cheese smelly cheese. Jarlsberg manchego macaroni cheese dolcelatte queso who moved my cheese monterey jack squirty cheese. Roquefort cheesy feet who moved my cheese manchego mozzarella cheese strings cut the cheese cheese on toast. Parmesan roquefort fromage.-->

<!--Swiss bocconcini taleggio. Dolcelatte cheddar jarlsberg fromage cut the cheese smelly cheese cheeseburger fromage. Parmesan camembert de normandie danish fontina hard cheese fondue roquefort bavarian bergkase melted cheese. Jarlsberg cream cheese manchego stinking bishop fondue hard cheese.-->

<!--Fondue dolcelatte cow. Cheese and wine rubber cheese danish fontina dolcelatte goat cheddar parmesan roquefort. Babybel cut the cheese cheesy feet cut the cheese stilton emmental lancashire blue castello. Boursin airedale.</p>-->
        
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>